<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta name="description" content="Have a link">
  <meta name="author" content="Alexandre Bertails">
  <meta name="viewport" content="width=device-width, initial-scale=1.2">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/asset/tomorrow-night-bright.css">
  <link rel="stylesheet" href="/asset/main.css" />
  {% endblock head %}
</head>

<body>

  <aside>

    <a href="/"><img id="avatar" src="/image/alex.jpg" alt="Home"></a>

    <p>
      I am Alexandre Bertails: <a href="/alex#me">WebID</a>, <a href="/resume/">resume</a>. I do Scala and Linked Data. Welcome to my blog (<a href="/feed/all.xml">feed</a>).
    </p>
    
    <div class="icons">
      <a href="mailto:alexandre@bertails.org"><img alt="Send Alex an email" src="/image/contact.svg"></a>
      <a href="https://twitter.com/bertails"><img alt="Follow betehess on Twitter" src="/image/twitter.svg"></a>
      <a href="https://github.com/betehess"><img alt="Follow betehess on Github" src="/image/github.svg"></a>
    </div>

  </aside>

  {% block content %}
  {% block content_title %}
  {% endblock %}
  {% endblock %}

</body>
</html>
