<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="description" content="111's Blog">
    <meta name="author" content="Alexandre Bertails">
    <meta name="viewport" content="width=device-width, initial-scale=1.2">
    <link rel="stylesheet" href="{{ SITE_URL }}/main.css" />
    {% endblock head %}
</head>

<body>

    <aside>
	<p><a href="{{ SITE_URL }}/image/alex.jpg"><img id="avatar" src="{{ SITE_URL }}/image/alex.jpg"></a>I am Alexandre Bertails (<a href="{{ SITE_URL }}/alex#me">#me</a>). I do Scala and Linked Data at <a href="http://www.pellucid.com/">Pellucid Analytics</a>.
    Welcome to my blog (<a href="{{ SITE_URL }}/feeds/all.xml">feed</a>).
    <hr>
    </aside>

    {% block content %}
    {% block content_title %}
    {% endblock %}
    {% endblock %}

</body>
</html>
