html {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: large;
}
h1 { text-transform: uppercase; }
h1, h2 { font-weight: normal; }

body {margin: 0}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body > article {
  line-height: 1.6em;
  display: block;
  max-width: 55rem;
  margin-left: 22rem;
  margin-right: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0;
}

body > article pre,
body > article video,
body > article img {
  max-width: 100%;
}

body > article pre {
  overflow-x: auto;
}

hr {
  border-width: 0 0 1px 0;
}

a { color:#24890D; text-decoration:none; }
a:hover { text-decoration: underline; }

code {
  background-color: rgba(0,0,0,0.04);
}

/* Sidebar */

aside {
  width: 18rem; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 3rem;
  background-color: #171717;
  color: white;
}

aside > p { margin: 0; }
aside > hr {
  margin: 0; clear: both;
  border: 0; height: 0;
}

.icons {
  margin: 2rem 0px 0px 0px;
  text-align: center;
}

.icons img {
  width: 2.5rem;
}

#avatar {
  width: 7rem;
  border-radius: 50%;
  display: block;
  margin: 0 1rem 2rem 0;
  box-shadow: 0 0 0 2px white;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0 0 0 4px #24890D;
}

#home li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin-bottom: 10px;
  list-style: none;
}

#home li time {
  margin-right: 2rem;
  margin-left: -1rem;
  display: inline-block;
  width: 7rem;
  text-align: right;
  color: #aaa;
}

@media (max-width: 1220px) {
  body > article {
    margin: 40px 0 0 320px;
  }
  .spratic {
    margin: 0 0 0 300px;
  }
}

@media (max-width: 950px) {
  #home li time {
    display: none;
  }
}

@media (max-width: 800px) {
  aside {
    width: 100%;
    height: auto;
    padding: 14px;
    position: static;
    font-size: 80%;
    text-align: center;
  }
  body > article {
    margin: 0 auto;
    padding-top: 5px;
  }
  .spratic {
    margin: 0 auto;
  }
  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
  .icons {
    margin: 10px auto;
    text-align: center;
  }
}


/* spratic comments */

.spratic-thread > h4 {
  color: #555;
  font-weight: bold;
}

.spratic-postbox {
  max-width: 68em;
  margin: 0 auto 2em;
}

.spratic-postbox > .form-wrapper {
  display: block;
  padding: 0;
}

.spratic-thread .textarea.placeholder {
  color: #AAA;
}

.spratic-thread .textarea {
  min-height: 58px;
  outline: 0;
}

.spratic-postbox > .form-wrapper .textarea {
  margin: 0 0 .3em;
  padding: .4em .8em;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.spratic-postbox .auth-section, .spratic-postbox .post-action {
  display: block;
}

.spratic-postbox .input-wrapper {
  display: inline-block;
  position: relative;
  max-width: 25%;
  margin: 0;
}

.spratic-postbox .input-wrapper input {
  padding: .3em 10px;
  max-width: 100%;
  border-radius: 3px;
  background-color: #fff;
  line-height: 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.spratic-postbox .post-action {
  display: inline-block;
  float: right;
  margin: 0;
}

.spratic-postbox .post-action > input {
  padding: calc(.3em - 1px);
  border-radius: 2px;
  border: 1px solid #CCC;
  background-color: #DDD;
  cursor: pointer;
  outline: 0;
  line-height: 1.4em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.spratic-comment {
  max-width: 68em;
  padding-top: 0.95em;
  margin: 0.95em auto;
}

.spratic-comment:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.spratic-comment .author {
  font-weight: bold;
  color: #555;
}

.spratic-comment .spratic-comment-header {
  font-size: 0.85em;
}

.spratic-comment .spacer, .spratic-comment a.permalink, .spratic-comment .note, .spratic-comment a.parent {
  color: gray;
}

.spratic-comment .spacer {
  padding: 0 6px;
}
